services:
  api:
    build: .
    ports:
      - "7791:8080"
    env_file:
      - ".env"
    restart: unless-stopped
  redis:
    image: redis:alpine3.22
    container_name: redis
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
    restart: unless-stopped

volumes:
  redis-data: