services:
  api:
    build: .
    networks:
      - proxy
      - internal

    env_file:
      - "stack.env"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.xenpos-startuplogs.rule=Host(`xenera.natix.dev`)"
      - "traefik.http.routers.xenpos-startuplogs.entrypoints=websecure"
      - "traefik.http.routers.xenpos-startuplogs.tls.certresolver=le"
      - "traefik.http.routers.xenpos-startuplogs.tls=true"
      - "traefik.http.services.xenpos-startuplogs.loadbalancer.server.port=8080"

      - "traefik.http.middlewares.xenpos-startuplogs-ratelimit.ratelimit.average=1"
      - "traefik.http.middlewares.xenpos-startuplogs-ratelimit.ratelimit.period=60s"
      - "traefik.http.middlewares.xenpos-startuplogs-ratelimit.ratelimit.burst=1"

      - "traefik.http.routers.xenpos-startuplogs.middlewares=xenpos-startuplogs-ratelimit@docker"

  redis:
    image: redis
    container_name: redis
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
    restart: unless-stopped
    networks:
      - internal

volumes:
  redis-data:

networks:
  proxy:
    external: true
  internal:
    driver: bridge
